@font-face {
  font-family: "iconfont"; /* Project id 4056782 */
  src: url('../iconfont/iconfont.woff2?t=1683594329628') format('woff2'),
       url('../iconfont/iconfont.woff?t=1683594329628') format('woff'),
       url('../iconfont/iconfont.ttf?t=1683594329628') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e625";
}

