li{
    list-style-type:none;
}


.logout:hover{
    color: red;
}

#login-btn{
    background-color: #4CAF50; /* 背景顏色 */
}
#login-btn:hover{
    background-color: #3e8e41; 
}

#reg-btn{
    background-color: #d6d43a;
}

#reg-btn:hover{
    background-color: #b3b01d;
}


.container{
    width: 1400px;
    height: 1000px;
    background-color: rgba(255, 225, 56, 0.432);
    box-sizing: border-box;
    padding: 10px;
}

.control-area{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.control-area div:nth-child(1){
    margin-right: 400px;
}

#psot-article{
    background-color: #333;
}
#psot-article:hover{
    background-color: #686868;
}

.page-no{
    display: flex;
}

.page-no li{
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: #333 2px solid;
}
.page-no li:hover{
    background-color: #9e9e9e;
}

.page-no li.active{
    background-color: #f17814;
}


#prev,#next{
    color: #333333;
}

#prev:hover, #next:hover{
    background-color: #9e9e9e;
}

.container table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border:3px solid #333;
}
table td, table th{
    padding: 5px;
}

thead{
    border:3px solid #333;
}

thead th:nth-child(1){
    width: 5%;
}

thead th:nth-child(2){
    width: 55%;
}

thead th{
    width: 20%;
    text-align: left;
}

tbody tr{
    border: #333 1px dashed;
    cursor: pointer;
}

tbody tr:hover{
    background-color: #dba032cb;
}


